# ##
# Папки и файлы Unity
# ##
[ Aa ] ssets / AssetStoreTools *
[ Bb ] уилд /
[ Ll ] библиотека /
[ Ll ] местная [ Cc ] боль /
[ Оо ] минет /
[ Тт ] эмп /
[ Uu ] nityGenerated /
# файл с отчетами о сбоях
sysinfo.txt
# метафайлы, сгенерированные Unity3D
* .pidb.meta

# ##
# Решение VS/MD и файлы проекта
# ##
[ Ээ ] xportedObj /
* .booproj
* .csproj
* .sln
* .суо
* .svd
* .unityproj
* .пользователь
* .userprefs
* .pidb
.DS_Store

# ##
# создано ОС
# ##
.DS_Store
.DS_Store ?
._ *
.Прожектор-V100
.Мусор
Икона ?
ehthumbs.db
Thumbs.db
My project (4)/.vsconfig
My project (4)/Assets/Scenes.meta
My project (4)/Assets/Scenes/SampleScene.unity.meta
